In [1]:
import gta_prices
import numpy as np
import pandas as pd

In [2]:
def donchian(prices, periods):
    '''Calculate Donchian lines, entries & exits for each look back period.'''
    entry = None
    for i, period in enumerate(periods.values()):
        i += 1
        globals()[f'p{i}'] = period
        df = pd.DataFrame(prices.copy())
        df['upr'] = prices.high.rolling(period).max().shift(periods=1)
        df['lwr'] = prices.low.rolling(period).min().shift(periods=1)
        df['mid'] = 0.5 * (df.upr + df.lwr)
        df['sys'] = i
        df['period'] = period
        if i == 1:
            df['buy'] = np.where(df.close > df.upr, 1, 0)
        else:
            df['buy'] = entry
        df['sell'] = np.where(df.close < df.mid, 1, 0)
        df['state'] = state(df.buy, df.sell, period)
        df['entry'] = np.where(np.logical_and(
            df.state == 1, df.state.shift(periods=1) == 0), 1, 0)
        if i == 1:
            entry = df.entry
        df['exit'] = np.where(np.logical_and(
            df.state == 0, df.state.shift(periods=1) == 1), 1, 0)
        globals()[f'dc{i}'] = df
    return


def state(entry_signal, exit_signal, period):
    '''Calculate trade state signals.'''
    df = pd.concat([entry_signal, exit_signal], axis=1)
    df.columns = ['entry', 'exit']
    df['state'] = 0
    for i in range(period, len(df)):
        if df.loc[df.index[i], 'entry'] == 1 \
                and df.loc[df.index[i - 1], 'state'] == 0:
            df.loc[df.index[i], 'state'] = 1
        elif df.loc[df.index[i], 'exit'] == 1:
            df.loc[df.index[i], 'state'] = 0
        else:
            df.loc[df.index[i], 'state'] = df.loc[df.index[i - 1], 'state']
    return df.state

In [3]:
# Trade parameters.
exchange = 'LSE'
tidm = 'HSV'
periods = {'p1': 48, 'p2': 24, 'p3': 12, 'p4': 6}

In [4]:
# Import weekly closing prices.
prices = gta_prices.weekly(exchange, tidm)

In [5]:
# Entries & exits.
donchian(prices, periods)

In [6]:
dc1

,open,high,low,close,upr,lwr,mid,sys,period,buy,sell,state,entry,exit
date,,,,,,,,,,,,,,
1994-01-07,NaN,NaN,NaN,0.33234,NaN,NaN,NaN,1,48,0,0,0,0,0
1994-01-14,NaN,NaN,NaN,0.33385,NaN,NaN,NaN,1,48,0,0,0,0,0
1994-01-21,NaN,NaN,NaN,0.33815,NaN,NaN,NaN,1,48,0,0,0,0,0
1994-01-28,NaN,NaN,NaN,0.34031,NaN,NaN,NaN,1,48,0,0,0,0,0
1994-02-04,NaN,NaN,NaN,0.34095,NaN,NaN,NaN,1,48,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-04-15,8.900,8.900,8.500,8.55000,10.78,5.79,8.285,1,48,0,0,0,0,0
2022-04-22,8.750,9.855,8.350,9.80500,10.55,5.79,8.170,1,48,0,0,0,0,0
2022-04-29,9.850,10.170,9.570,9.83000,10.24,5.79,8.015,1,48,0,0,0,0,0
2022-05-06,9.790,10.020,9.565,9.90000,10.24,5.79,8.015,1,48,0,0,0,0,0
2022-05-13,9.925,11.250,9.560,10.69000,10.24,5.79,8.015,1,48,1,0,1,1,0